<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Students</title>
</head>
<body>
<div class="container">
    <div class="row pt-4 mb-4">
        <div class="col-3">
            <span th:text="'Total: ' + ${studentList.size() + ' students'}"></span>
        </div>
        <div class="col-9">
            <form th:action="@{/student/add}" method="post" class="row gy-2 gx-3 justify-content-end">
                <div class="col-auto">
                    <input type="text" class="form-control" name="name" id="name" placeholder="full name" aria-label="name" required>
                </div>
                <div class="col-auto">
                    <input type="email" class="form-control" name="email" id="email" placeholder="email" aria-label="email" required>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary">Add student</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="align-middle">
                    <tr th:each="student : ${studentList}">
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.email}"></td>
                        <td>
                            <form th:action="@{/student/delete}" method="post" class="">
                                <input type="hidden" name="id" th:value="${student.id}">
                                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>